h1{
    text-align: center;
    padding-top: 2%;
    font-size: 50px;
  }
.mentor_details{
    display: flex;
    gap: 20%;
    margin-top: 7%;
    justify-content: space-evenly;
  }
.mentorpage{
  padding-left: 100px;
}
.logo{
  width: 60px;
  padding-left: 20px;
  margin-top: 2px;
}
.interests_profession{
  font-size: 22px;
  margin-right: 200px;
}
.profile_pic{
    display: flex;
    gap: 1%;
    justify-content: space-evenly;
    width: 30%;
  }
.hr{
    width:0px;
    transform:rotate(180deg);
    height: 4px; 
  
  }
.personal_details{
    font-size: 25px;
    font-weight: 600;
    margin-top: 3%;
  }
span{
    font-size: 22px;
    color: #656263;
  }
.contact_btn,
.book_btn {
    background-color: #525E90;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px auto;
    cursor: pointer;
  }
.ment{
    padding-left: 30px;
  }
.mentor_page{
    padding-left: 20px;
  }
.contact_btn:hover,
.book_btn:hover {
    background-color: #289c13;
    color: #525E90;
  }
.main-profile{
    padding-right: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-size: cover;
    /* filter: brightness(50%); */
}
.image{
  width: 500px;
  height: 400px;
}
.topbar{
    background-color: teal;
    overflow: hidden;
    height: 60px;
    width: 100%;
    filter: brightness(100%);
}

.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}

@media all and (min-width:280px) and (max-width:767px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
  }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 9px;
    border-radius: 8px;
    background-color: #C3AEDB;
    color: #fff;
    font-size: 8px;
  }
.main-profile{
  font-size: x-small;

  }
.topbar{
    background-color: teal;
    /* overflow: hidden; */
    height: 60px;
    font-size: x-small;
    width: 100%;
    filter: brightness(100%);
    display: block;
}
.logo {
    width: 50px;
    height: 35px;
    margin-right: 10px;
  }
.logo img {
    width: 50%;
    height: 50%;
  }
.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-weight: 500;
    font-size: 10px;
  }
.nav_links * {
    color: #fff;
  }
.nav_links a:hover {
    background-color: #fff;
    color: #525E90;
    padding: 2px 5px;
    border-radius: 5px;
  }
.image{
    width: 70px;
    height: 60px;
  }
  h1{
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
  }
.mentorpage{
    height: 210px;
  }
.mentor_details{
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-top: 3%;
    /* display: flex; */
  }
.interests_profession{
  font-size: 10px;
}
  .profile_pic{
    display: flex;
    gap: 0.5%;
    justify-content: space-between;
    width: 25%;
    margin-left: 3%;
  }
  /*.hr{
  display: none;
  }*/
  .hr{
    width:400px;
    transform:rotate(90deg);
    display: none;
  }
  .personal_details{
    font-size: 12px;
    margin-top: 1%;
  }
  span{
    font-size: 10px;
    color: #656263;
  }
  .contact_btn,
  .book_btn {
    background-color: #525E90;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 9px;
    margin: 10px auto;
    cursor: pointer;
  }
  .contact_btn:hover,
  .book_btn:hover {
    background-color: #9C138A;
    color: #525E90;
  }
}
@media all and (min-width:280px) and (max-width:600px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
  }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 9px;
    border-radius: 8px;
    background-color: #C3AEDB;
    color: #fff;
    font-size: 8px;
  }
.logo {
    width: 50px;
    height: 35px;
    margin-right: 10px;
  }
.logo img {
    width: 50%;
    height: 50%;
  }
.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-weight: 500;
    font-size: 10px;
  }
.nav_links * {
    color: #fff;
  }
.nav_links a:hover {
    background-color: #fff;
    color: #525E90;
    padding: 2px 5px;
    border-radius: 5px;
  }
.image{
    width: 70px;
    height: 60px;
  }
  h1{
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
  }
.mentorpage{
    height: 210px;
  }
.mentor_details{
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-top: 3%;
    /* display: flex; */
  }
.interests_profession{
  font-size: 10px;
}
  .profile_pic{
    display: block;
    gap: 0.5%;
    justify-content: space-between;
    width: 25%;
    margin-left: 3%;
  }
  /*.hr{
  display: none;
  }*/
  .hr{
    width:400px;
    transform:rotate(90deg);
    display: none;
  }
.personal_details{
  font-size: 12px;
    margin-top: 1%;
  }
  span{
    font-size: 10px;
    color: #656263;
  }
  .contact_btn,
  .book_btn {
    background-color: #525E90;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 9px;
    margin: 10px auto;
    cursor: pointer;
  }
  .contact_btn:hover,
  .book_btn:hover {
    background-color: #9C138A;
    color: #525E90;
  }
}
@media all and (min-width:600px) and (max-width:1180px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
  }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 9px;
    border-radius: 8px;
    background-color: #C3AEDB;
    color: #fff;
    font-size: 8px;
  }
.logo {
    width: 50px;
    height: 35px;
    margin-right: 10px;
  }
.logo img {
    width: 50%;
    height: 50%;
  }
.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-weight: 500;
    font-size: 10px;
  }
.nav_links * {
    color: #fff;
  }
.nav_links a:hover {
    background-color: #fff;
    color: #525E90;
    padding: 2px 5px;
    border-radius: 5px;
  }
.image{
    width: 70px;
    height: 60px;
  }
  h1{
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
  }
.mentorpage{
    height: 210px;
  }
.mentor_details{
    display: flex;
    font-size: x-small;
    flex-direction: column;
    gap: 3%;
    margin-top: 3%;
    /* display: flex; */
  }
.interests_profession{
  font-size: 12px;
}
  .profile_pic{
    display: block;
    gap: 0.5%;
    justify-content: space-between;
    width: 25%;
    margin-left: 3%;
  }
  /*.hr{
  display: none;
  }*/
  .hr{
    width:400px;
    transform:rotate(90deg);
    display: none;
  }
.personal_details{
  font-size: 12px;
    margin-top: 1%;
  }
  span{
    font-size: 10px;
    color: #656263;
  }
  .contact_btn,
  .book_btn {
    background-color: #525E90;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 9px;
    margin: 10px auto;
    cursor: pointer;
  }
  .contact_btn:hover,
  .book_btn:hover {
    background-color: #9C138A;
    color: #525E90;
  }
}

























